<!-- projects/add_project_form.html -->
<form action="{% url 'projects:add_project' %}" method="post" role="form" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Display the image field -->
    {{ project_form.image.label_tag }}
    {{ project_form.image }}
    {{ project_form.image.errors }}

    <!-- Other form fields -->
    {{ project_form.title.label_tag }}
    {{ project_form.title }}
    {{ project_form.title.errors }}

    <div class="text-center pt-3">
        <button class="button-style" type="submit">Save</button>
    </div>
</form>
