{% extends 'base.html' %}
{% load static %}
{% block title %}Winni Furance | Choice a Professional Service in Winnipeg Manitoba{% endblock %}

{% block content %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url "pages:index" %}">Home</a></li>
                    <li><a href="{% url "pages:services" %}">Services</a></li>
                    <li>Book A Services</li>
                </ol>
                <h2>Choice a Professional Service</h2>
            </div>
        </section><!-- End Breadcrumbs -->

        {% include 'services/order_form.html' %}




    </main><!-- End #main -->

{% endblock %}
