{% extends 'base.html' %}
{% load static %}
{% block title %}Winni Furance | Confirm Order{% endblock %}

{% block content %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url "pages:index" %}">Home</a></li>
                    <li><a href="{% url "pages:services" %}">Services</a></li>
                    <li><a href="{% url "services:order" %}"> Book A Services</a></li>
                    <li>Confirm Order</li>
                </ol>
                <h2 class="heading-red">Confirm Your Order</h2>
            </div>
        </section><!-- End Breadcrumbs -->

        <section id="contact" class="contact">
            <div class="container">

                <div class="entries">

                    <article class="entry entry-single">
                        <div class="entry-content">
                            <p>
                                <strong>Service Name : </strong> {{ service_name }}
                            </p>
                            <p>
                                <strong>Your Name : </strong> {{ name }}
                            </p>
                            <p>
                                <strong>Email Address : </strong> {{ email }}
                            </p>
                            <p>
                                <strong>Phone Number : </strong> {{ phone }}
                            </p>
                            {% if message %}
                                <p>
                                    <strong>Your Message : </strong> {{ message }}
                                </p>
                            {% endif %}
                        </div>
                        <div class="pt-3">

                            <a class="button-style"
                               href="{% url 'services:success_order' service_name=service_name name=name phone=phone email=email message=message %}">Confirm</a>

                        </div>


                    </article><!-- End blog entry -->

                </div><!-- End blog entries list -->
            </div>
        </section>

    </main><!-- End #main -->

{% endblock %}
