{% extends 'base.html' %}
{% load static %}
{% block meta_tags %}
    <title>{% block title %}Winni Furance | Professional Duct Cleaning Services in Winnipeg, Manitoba{% endblock %}</title>
    <meta name="description" content="Ensure cleaner and healthier indoor air with professional duct cleaning services in Winnipeg. Winni Furance's certified technicians offer thorough duct cleaning to improve air quality, reduce allergy symptoms, and remove odors. Contact us for reliable residential duct cleaning and trustworthy service.">
    <meta name="keywords" content="Winni Furance, duct cleaning, professional duct cleaning, air quality, allergy symptoms, odors, home duct cleaning, trustworthy service, Winnipeg, Manitoba, mold removal, eliminate allergens, reduce costs">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Winni Furance | Professional Duct Cleaning Services in Winnipeg, Manitoba">
    <meta property="og:description" content="Ensure cleaner and healthier indoor air with professional duct cleaning services in Winnipeg. Winni-Furance's certified technicians offer thorough duct cleaning to improve air quality, reduce allergy symptoms, and remove odors. Contact us for reliable residential duct cleaning and trustworthy service.">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{% url 'pages:duct_cleaning' %}">
    <meta property="og:image" content="{% static 'img/air-duct-cleaning.jpg' %}"> <!-- Add the actual path to your image -->
    <meta property="og:image:alt" content="Air Duct Cleaning">

{% endblock %}

{% block content %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url "pages:index" %}">Home</a></li>
                    <li>Services</li>
                </ol>
                <h2>Professional Duct Cleaning Services</h2>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page pt-3">
            <div class="container">
                <div class="row">
                    <!-- Left column with image -->
                    <div class="col-md-6">
                        <img src="{% static 'img/air-duct-cleaning.jpg' %}" class="img-fluid" alt="Image Description">
                    </div>

                    <!-- Right column with text -->
                    <div class="col-md-6">
                        <div class="p-4">
                            <h2 class="entry-title pt-5 pb-3 heading-red">
                                Professional Duct Cleaning Services in Winnipeg
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pt-5">

                <div class="entries">

                    <article class="entry entry-single">

                        <div class="entry-content">
                            <p>
                                Regularly cleaning the ducts throughout your home helps remove particles and
                                contaminants circulating in the air, such as dust, debris, and even mold.
                            </p>

                            <blockquote>
                                <p>
                                    The certified technicians at Winni-Furance
                                    offer thorough duct cleaning services in
                                    Winnipeg to help:
                                </p>
                            </blockquote>
                            <ul>
                                <li>Improve the air quality of your home and make it cleaner & healthier for you and
                                    your family
                                </li>
                                <li>Reduce allergy symptoms resulting from contaminants in the air</li>
                                <li>Remove odors resulting from a buildup of contaminants</li>
                            </ul>

                            <h3 class="heading-red">Home Duct Cleaning Winnipeg</h3>
                            <p>
                                Your home is your safe spot. Keep it free from allergens and pollutants that can
                                negatively impact your family’s health.
                                Residential duct cleaning is reliable and thorough at Whyte Ridge. Our team is equipped
                                with the most powerful negative air power vac equipment to eliminate dust mites, mold,
                                pollen, and other allergens from your forced air system, preventing them from
                                recirculating in your air.
                            </p>

                            <h3 class="heading-red">Trustworthy Service</h3>
                            <p>
                                We started this business because we recognized a need to provide clients with
                                trustworthy service. That’s why we specialize in professionally cleaned ducts without
                                upselling or working on commission. You won’t ever be sold a service or product you
                                don’t need when you hire Winni-Furance’s certified professionals to clean your ducts.
                                We’ve invested in top-of-the-line power vac machines that turn your duct system into a
                                vacuum cleaner. We employ the latest technology in power vac equipment to remove all
                                dirt, dust, hair, and other allergens. These agitation tools consist of up to 200PSI air
                                pressure and use a combination of whips and brushes to remove even the most stubborn
                                debris that often clings to the walls of the duct.
                                Less expensive competitors use inadequate equipment that can do more harm than good by
                                releasing contaminants into your air. Winni-Furance’s power vac equipment is 5x more
                                powerful, ensuring a proper seal and better cleaning than any other unit on the market.
                                We are committed to servicing your existing equipment, rather than selling you
                                unnecessary replacements like our competitors.
                            </p>

                            <h3 class="heading-red">Eliminate Allergens and Reduce Costs</h3>
                            <p>
                                If your home has ever been invaded by critters, vermin, or moisture, the effects may be
                                contaminating your ducts and can even make you sick. Winni-Furance is trained to identify
                                and remove any signs of critter debris or mold contamination, protecting you from having
                                these contaminants continually recirculate in your air.
                                Duct cleaning is an important contributor to ensuring the safety and comfort of your
                                family home. As well, cleaning your ducts removes debris that could be restricting
                                airflow in your HVAC system. This improves its efficiency and reduces wear and tear,
                                saving you money in energy costs and avoiding potentially expensive repairs.
                                We recommend cleaning your ducts every 3-5 years, or more frequently if you are one of
                                the millions of people who suffer from allergies or respiratory issues. It’s also a good
                                idea to have your ductwork thoroughly cleaned when you move to reduce debris and odors
                                from polluting your new home. Enjoy better indoor air quality with a visit from Winni-Furance Duct Cleaning Winnipeg.
                            </p>

                            <h3 class="heading-red">Mold Removal</h3>
                            <p>
                                Air conditioning keeps your house comfortable, but it can also generate moisture. Your
                                ductwork may harbor bacteria and mold as a result, negatively impacting the air quality
                                in your home.
                                Winni Furance uses Benefect, trusted by industry professionals to get lasting results in
                                cases of mold and water damage. It’s recommended that this botanical cleaning solution
                                made with thyme oil be applied every second time your ducts are cleaned.
                                If you’re in the Winnipeg area, choose Winni-Furance’s mold removal services with Benefect
                                botanical solution. It’s 99.99% effective, so you can be confident that your ducts will
                                be free from mold and your air quality will remain safe for you and your family.
                            </p>

                        </div>

                    </article><!-- End blog entry -->

                </div><!-- End blog entries list -->
            </div>
            {% include 'services/order_form.html' %}
        </section>

    </main><!-- End #main -->

{% endblock %}
