{% extends 'base.html' %}
{% load static %}

{% block meta_tags %}
    <title>{% block title %}Winni Furnace | Professional Air Vent Duct Cleaning Services in Winnipeg, Manitoba{% endblock %}</title>
    <meta name="description" content="Ensure cleaner and healthier indoor air with Winni Furnace's professional duct cleaning services in Winnipeg. Our certified technicians offer thorough duct cleaning to improve air quality, reduce allergy symptoms, and remove odors. Contact us for reliable residential duct cleaning and trustworthy service.">
    <meta name="keywords" content="Winni Furnace, duct cleaning, professional duct cleaning, air quality, allergy symptoms, odors, home duct cleaning, trustworthy service, Winnipeg, Manitoba, mold removal, eliminate allergens, reduce costs, Air Vent ">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Winni Furnace | Professional Duct Cleaning Services in Winnipeg, Manitoba">
    <meta property="og:description" content="Ensure cleaner and healthier indoor air with professional duct cleaning services in Winnipeg. Winni Furnace's certified technicians offer thorough duct cleaning to improve air quality, reduce allergy symptoms, and remove odors. Contact us for reliable residential duct cleaning and trustworthy service.">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{% url 'pages:duct_cleaning' %}">
    <meta property="og:image" content="{% static 'img/air-duct-cleaning.jpg' %}"> <!-- Add the actual path to your image -->
    <meta property="og:image:alt" content="Air Vent Duct Cleaning">
{% endblock %}

{% block content %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url "pages:index" %}">Home</a></li>
                    <li>Services</li>
                </ol>
                <h2>Professional Air Vent Duct Cleaning Services</h2>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page pt-3">
            <div class="container">
                <div class="row">
                    <!-- Left column with image -->
                    <div class="col-md-6">
                        <img src="{% static 'img/air-duct-cleaning.jpg' %}" class="img-fluid" alt="Air Duct Cleaning Image">
                    </div>

                    <!-- Right column with text -->
                    <div class="col-md-6">
                        <div class="p-4">
                            <h2 class="entry-title pt-5 pb-3 heading-red">
                                Professional Air Vent Duct Cleaning Services in Winnipeg
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container pt-5">
                <div class="entries">
                    <article class="entry entry-single">
                        <div class="entry-content">
                            <p>
                                Regularly cleaning the ducts throughout your home helps remove particles and
                                contaminants circulating in the air, such as dust, debris, and even mold.
                            </p>

                            <blockquote>
                                <p>
                                    The certified technicians at Winni Furnace offer thorough duct cleaning services in
                                    Winnipeg to help:
                                </p>
                            </blockquote>

                            <ul>
                                <li>Improve the air quality of your home and make it cleaner & healthier for you and
                                    your family
                                </li>
                                <li>Reduce allergy symptoms resulting from contaminants in the air</li>
                                <li>Remove odors resulting from a buildup of contaminants</li>
                            </ul>

                            <h3 class="heading-red">Home Duct Cleaning Winnipeg</h3>
                            <p>
                                Your home is your safe spot. Keep it free from allergens and pollutants that can
                                negatively impact your family’s health. Residential duct cleaning at Winni Furnace is
                                reliable and thorough. Our team is equipped with the most powerful negative air power
                                vac equipment to eliminate dust mites, mold, pollen, and other allergens from your forced
                                air system, preventing them from recirculating in your air.
                            </p>

                            <h3 class="heading-red">Trustworthy Service</h3>
                            <p>
                                At Winni Furnace, we specialize in professionally cleaned ducts without upselling or
                                working on commission. Our top-of-the-line power vac machines turn your duct system into
                                a vacuum cleaner, ensuring the removal of dirt, dust, hair, and other allergens. Our
                                commitment is to service your existing equipment, avoiding unnecessary replacements.
                                Unlike less expensive competitors, our power vac equipment is 5x more powerful, ensuring
                                a proper seal and better cleaning. We prioritize your health and comfort.
                            </p>

                            <h3 class="heading-red">Eliminate Allergens and Reduce Costs</h3>
                            <p>
                                If your home has ever been invaded by critters, vermin, or moisture, the effects may
                                be contaminating your ducts and can even make you sick. Winni Furnace is trained to
                                identify and remove any signs of critter debris or mold contamination, protecting you
                                from having these contaminants continually recirculate in your air.
                            </p>
                            <!-- Additional content... -->

                            <h3 class="heading-red">Mold Removal</h3>
                            <p>
                                Air conditioning keeps your house comfortable, but it can also generate moisture. Your
                                ductwork may harbor bacteria and mold as a result, negatively impacting the air quality
                                in your home. Winni Furnace uses Benefect, a botanical cleaning solution made with
                                thyme oil, recommended for mold removal. Choose Winni Furnace’s mold removal services
                                with Benefect botanical solution for 99.99% effective results, ensuring your ducts are
                                free from mold, and your air quality remains safe for you and your family.
                            </p>
                        </div>
                    </article><!-- End blog entry -->
                </div><!-- End blog entries list -->
            </div>
            {% include 'services/order_form.html' %}
        </section>
    </main><!-- End #main -->
{% endblock %}
