<div class="section-title" data-aos="fade-up">
    <h2>Services</h2>
    <p>HOW WE CAN HELP YOU ?</p>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <a href="{% url "pages:duct_cleaning" %}">
            <div class="icon-box">
                <div class="icon"><i class="fa-solid fa-fan"></i></div>
                <h4 class="title text-dark">Air vent Duct Cleaning</h4>
                <p class="description text-secondary">Breathe Cleaner air, boost health</p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <a href="{% url "pages:furnace_installation" %}">
            <div class="icon-box">
                <div class="icon"><i class="fa-solid fa-fire"></i></div>
                <h4 class="title text-dark">Furnace Installation</h4>
                <p class="description text-secondary">Reliable warmth, expertly installed</p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <a href="{% url 'pages:furnace_repair' %}">
            <div class="icon-box">
                <div class="icon"><i class="fa-solid fa-toolbox"></i></div>
                <h4 class="title text-dark">Furnace Repair - Tune Up</h4>
                <p class="description text-secondary"> Swift fixes, restored warmth</p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <a href="{% url 'pages:furnace_cleaning' %}">
            <div class="icon-box">
                <div class="icon"><i class="fa-solid fa-cloud-sun"></i></div>
                <h4 class="title text-dark">HRV Installation</h4>
                <p class="description text-secondary">Efficiency restored, energy saved</p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <a href="{% url 'pages:air_conditioner_installation' %}">
            <div class="icon-box">
                <div class="icon"><i class="fa-solid fa-snowflake"></i></div>
                <h4 class="title text-dark">Air Conditioner Installation</h4>
                <p class="description text-secondary">Cool comfort, installed with care</p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <a href="{% url 'pages:air_conditioner_tune_up' %}">
            <div class="icon-box">
                <div class="icon"><i class="fa-solid fa-angles-up"></i></div>
                <h4 class="title  text-dark">Air Conditioner Tune Up - Repair </h4>
                <p class="description text-secondary">Peak performance, cool and efficient</p>
            </div>
        </a>
    </div>
</div>