{% extends 'base.html' %}
{% block title %}Winni Furance | HVAC Services in Winnipeg, Manitoba{% endblock %}


{% block content %}
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="container" data-aos="fade-in">
            <h1>Winni furance</h1>
            <h2 class="heading-color">Heating & Colling</h2>
            <div class="d-flex align-items-center">
                <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                <a href="" class="btn-get-started scrollto">Our Services</a>
            </div>
        </div>

    </section><!-- End Hero -->
    <div style="height: 150px">

    </div>
    <div class="pt-5">
        <section id="services" class="services section-bg pt-5">
            <div class="container">

                {% include "pages/services_list.html" %}

            </div>
        </section><!-- End Services Section -->
    </div>
    <section class="services section-bg">
        <div class="container">

             {% include 'services/order_form.html' %}

        </div>
    </section><!-- End Services Section -->

{% endblock %}