{% extends 'base.html' %}
{% block title %} Winni Furance | Set New Password{% endblock %}
{% block meta_tags %}
    <meta name="description" content="set new password for Winni Furnace account">
    <meta name="keywords" content="Winni Furnace, user account, dashboard, set new password">
    <meta property="og:title" content="Winni Furnace | Set New Password">
    <meta property="og:description" content="set new password">
    <meta property="og:url" content="{% url 'accounts:password_change' %}">
    <meta property="og:type" content="website">
{% endblock %}
{% block content %}
  <h2>Set New Password</h2>
  <form method="post" action="{% url 'accounts:set_password' uidb64=uidb64 token=token %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Set Password</button>
  </form>
{% endblock %}
