{% extends "base.html" %}
{% load static %}
{% block title %}Winni Furance | Login{% endblock %}

{% block content %}
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-up">Login</h2>
                <p data-aos="fade-up">Login to Your account</p>
            </div>


            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
                <div class="col-xl-9 col-lg-12 mt-4">
                    <div class="card-body">
                        <form action="" method="post" role="form">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="row justify-content-center">
                                    <div class="alert alert-danger col-md-6">
                                        {{ form.non_field_errors|striptags }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row justify-content-center">
                                <div class="col-md-6 form-group">
                                    {{ form.username.label_tag }}
                                    <input type="text" name="{{ form.username.name }}" class="form-control"
                                           id="{{ form.username.id_for_label }}" placeholder="Username" required>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6 form-group mt-3 mt-md-0 ">
                                    {{ form.password.label_tag }}
                                    <input type="password" name="{{ form.password.name }}" class="form-control"
                                           id="{{ form.password.id_for_label }}" placeholder="Password" required>
                                </div>
                            </div>
                            <div class="container pt-3">
                                <div class="row justify-content-center">
                                    <div class="col-md-3">
                                        <div class="text-center">
                                            <button class="button-style btn - btn-lg" type="submit">Login</button>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="{% url 'accounts:signup' %}">Dont have Account ?</a>
                                        <a href="{% url 'accounts:password_reset' %}">Forgot Password ?</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Contact Section -->
{% endblock %}
