<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rest Password</title>
</head>
<body>
<h4>Reset Password Request for Your Account on winni-furnace.ca</h4>
<p>Someone asked for a password reset for the email associated with your account. Follow the link below if it was you,
    and if it wasn't you, please ignore this message:</p>
<br>
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>

<p>Your username, in case you've forgotten: <strong>{{ user.get_username }}</strong></p>
</body>
</html>

