{% extends 'base.html' %}
{% block title %}Winni Furance | Password changed successfully{% endblock %}
{% block content %}
    <section id="contact" class="contact">
        <div class="container" style="height: 300px">

            <div class="section-title">
                <h2 data-aos="fade-up">Your Password Changed</h2>
                <p data-aos="fade-up">Your Password changed successfully: please Use this link with your new password to
                    <a href="{% url 'login' %}">Login</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}