{% extends 'base.html' %}
{% block title %}Winni Furance | Send Rest Password{% endblock %}
{% block content %}

    <section class="contact">
        <div class="container" style="height: 300px">

            <div class="section-title">
                <h2 data-aos="fade-up">Rest Password</h2>
                <p data-aos="fade-up"></p>
            </div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
                <div class="col-xl-9 col-lg-12 mt-4">
                    <p class="text-center">A password reset email has been sent to your inbox. Please check your email
                        for instructions on how to reset your password. If you don't see the email in your inbox, kindly
                        check your spam folder
                        .</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}