{% extends "base.html" %}
{% block title %}Winni Furance | Change your password{% endblock %}
{% block content %}
    <div class="justify-content-center text-center pt-5">
        <h1 class="heading-red">Change your password</h1>
        <p>Use the form below to change your password.</p>
    </div>
    <form method="post">
        <div class="row justify-content-center">
            <div class="col-md-6 form-group p-3">
                {{ form.old_password.label_tag }}
                <input type="password" name="{{ form.old_password.name }}" class="form-control"
                       id="{{ form.old_password.id_for_label }}" placeholder="Old Password" required>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 form-group p-3">
                {{ form.new_password1.label_tag }}
                <input type="password" name="{{ form.new_password1.name }}" class="form-control"
                       id="{{ form.new_password1.id_for_label }}" placeholder="New Password" required>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 form-group p-3">
                {{ form.new_password2.label_tag }}
                <input type="password" name="{{ form.new_password2.name }}" class="form-control"
                       id="{{ form.new_password2.id_for_label }}" placeholder="Repeat New Password" required>
            </div>
        </div>
        <div class="text-center pt-3">
            <button class="button-style" type="submit">Change</button>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}