{% extends 'base.html' %}
{% block title %}Winni Furance | Rest Password{% endblock %}
{% block content %}
    <section id="contact" class="contact">
        <div class="container">
            {% if validlink %}
                <div class="section-title">
                    <h2 data-aos="fade-up">Rest Password</h2>
                    <p data-aos="fade-up">Please enter your new password twice:</p>
                </div>
                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
                <div class="col-xl-9 col-lg-12 mt-4">
                <form action="" method="post" role="form">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="row justify-content-center">
                            <div class="alert alert-danger col-md-6">
                                {{ form.non_field_errors|striptags }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="row justify-content-center">
                        <div class="col-md-6 form-group">
                            {{ form.new_password1.label_tag }}
                            <input type="password" name="{{ form.new_password1.name }}" class="form-control"
                                   id="{{ form.new_password1.id_for_label }}" placeholder="New Password" required>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6 form-group">
                            {{ form.new_password2.label_tag }}
                            <input type="password" name="{{ form.new_password2.name }}" class="form-control"
                                   id="{{ form.new_password2.id_for_label }}" placeholder="Repeat Password" required>
                        </div>
                    </div>
                    <div class="text-center pt-3">
                        <button class="button-style" type="submit">Save</button>
                    </div>

                </form>
            {% else %}
                <div class="section-title">
                    <h2 data-aos="fade-up">Rest Password</h2>
                    <p data-aos="fade-up">The password reset link was invalid, possibly because it has already
                        been used. Please request a new password reset.</p>
                </div>

            {% endif %}
            </div>
    </section>
{% endblock %}