{% extends 'base.html' %}
{% block title %}Winni Furance | Rest Password{% endblock %}

{% block content %}

    <section class="contact">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-up">Enter Your Account Email Adress</h2>
                <p data-aos="fade-up"></p>
            </div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
                <div class="col-xl-9 col-lg-12 mt-4">
                    <div class="card-body">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form action="" method="post" role="form">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="row justify-content-center">
                                    <div class="alert alert-danger col-md-6">
                                        {{ form.non_field_errors|striptags }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row justify-content-center">
                                <div class="col-md-6 form-group">
                                    {{ form.email.label_tag }}
                                    <input type="email" name="{{ form.email.name }}" class="form-control"
                                           id="{{ form.email.id_for_label }}" placeholder="Enter Your Email" required>
                                </div>
                            </div>
                            <div class="row justify-content-center pt-3">
                                <div class="col-md-3">
                                    <div class="text-center">
                                        <button class="button-style btn - btn-lg" type="submit">Send</button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}