{% load blog_tags %}
{% load static %}
{% load social_share %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="author" content="Winni Furnace">
    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>

    <title>
        {% block title %}{% endblock %}
    </title>
    {% block meta_tags %}
    {% endblock %}
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static "vendor/aos/aos.css" %}" rel="stylesheet">
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
    <link href="{% static "vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/glightbox/css/glightbox.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ecec113220.js" crossorigin="anonymous"></script>
    <!-- Template Main CSS File -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body>
<!-- ======= Header ======= -->
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a
                    href="mailto:contact@winni-furnace.ca">contact@winni-furnace.ca</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 204 297 4420</span></i>
        </div>
        <div></div>
        <div class="cta d-none d-md-flex align-items-center">
            <a href="{% url 'services:order' %}" class="scrollto"> Book A Service</a>
        </div>
    </div>
</section>
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="{% url 'pages:index' %}">Winni-Furance</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->

            <!-- Uncomment below if you prefer to use an image logo -->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link" href="{% url 'pages:index' %}">Home</a></li>
                <li><a class="nav-link " href="{% url 'pages:about' %}">About</a></li>
                <li><a class="nav-link " href="{% url 'pages:services' %}">Our Services</a></li>
                <li><a class="nav-link " href="{% url 'offers:view_offers' %}">Offers</a></li>
                <li><a class="nav-link" href="{% url 'score:how_score_work' %}">Score Benefits</a></li>
                <li><a href="{% url "blog:post_list" %}">Blog</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-link "><a href="{% url 'accounts:dashboard' %}"><span><strong>Your Dashboard</strong></span></a>
                    <li class="nav-link text-danger"><a class="text-danger"
                                                        href="{% url 'accounts:logout' %}">logout</a></li>

                {% else %}
                    <li><a href="{% url "accounts:login" %}">login</a>
                    </li>
                    <li>
                        <a href="{% url "accounts:signup" %}"> signup</a></li>
                {% endif %}
                <li><a class="nav-link scrollto" href="{% url 'messages_app:contact' %}">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
{% block content %}
{% endblock %}
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Winni-furance</h3>
                    <p>
                        Winnipeg, Manitoba <br>
                        80 Lomond Blvd<br>
                        Canada <br><br>
                        <strong>Phone:</strong> +1 204 297 4420 <br>
                        <strong>Email:</strong> contact@winni-furnace.ca<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'pages:index' %}">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'pages:about' %}">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'pages:services' %}">Our Services</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'offers:view_offers' %}">Offers</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blog:post_list' %}">Blog</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'pages:duct_cleaning' %}">Duct
                            Cleaning</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'pages:furnace_installation' %}">Furnace
                            Installation</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'pages:furnace_repair' %}">Furnace
                            Repair </a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'pages:furnace_cleaning' %}">Furnace
                            Cleaning</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a
                                href="{% url 'pages:air_conditioner_installation' %}">Air Conditioner Installation</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'pages:air_conditioner_tune_up' %}">Air
                            Conditioner Tune-Up ( Repair )</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <img src="{% static 'img/logo-1-removebg-preview.png' %}" alt="winni furance logo" width="350"
                         height="350">
                </div>

            </div>
        </div>
    </div>

    <div class="container d-lg-flex py-4">

        <div class="me-lg-auto text-center text-lg-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Winni-furance</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://www.linkedin.com/in/pourya-mohamadi/">Pourya Mohamadi</a>
            </div>
        </div>
        <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100090651934963" class="facebook"><i
                    class="bx bxl-facebook"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HBSY9Z2HH9"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-HBSY9Z2HH9');
</script>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<script src="{% static "vendor/aos/aos.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "vendor/glightbox/js/glightbox.min.js" %}"></script>
<script src="{% static "vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
<script src="{% static "vendor/swiper/swiper-bundle.min.js" %}"></script>
<script src="{% static "vendor/php-email-form/validate.js" %}"></script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Winni Furnace",
        "description": "Expert duct cleaning and furnace installation repair and Cleaning and Air Conditioner installation and tune-up services in winnipeg manitoba.",
        "url": "https://www.winni-furnace.ca",
        "logo": "{% static 'img/logo-1-removebg-preview.png' %}",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "80 Lomond Blvd",
            "addressLocality": "Winnipeg",
            "addressRegion": "Manitoba",
            "addressCountry": "Canada"
        },
        "telephone": "+12042974420",
        "openingHours": "24/7",
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": "49.895077",
            "longitude": " -97.138451"
        },
        "sameAs": [
            "https://www.facebook.com/profile.php?id=100090651934963"
        ]
    }
</script>
<!-- Template Main JS File -->
<script src="{% static "js/main.js" %}"></script>

</body>

</html>